@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.swap{
  display:block;
}

.question1{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    width:400px;
    height: 20px;
    color:rgb(210,210,210);
    display: none;
}

.question2{
  text-align: center;
    margin-left:auto;
    margin-right:auto;
    width:400px;
    height: 20px;
    color: rgb(210,210,210);
    display: none;
}



.input1 {
  left:50%;
  margin-left:auto;
  margin-right:auto;
  display: none;
  opacity: 1;
}
.input2{
    left:50%;
    margin-left:auto;
    margin-right:auto;
    display: none;
    opacity: 1;
}

.input3{
  left:50%;
  margin-left:auto;
  margin-right:auto;
  display: none;
  opacity: 1;
  color: rgb(210,210,210);
  
}

.regles{
  position: absolute;
  color:beige;
  margin-top: 5%;
  margin-left: 11%;
}


#rangeValue1 {
  margin-left:auto;
  margin-right:auto;
  display: block;
  text-align: center;
  right:27.75%;
  font-size: 4em;
  color: rgb(210,210,210);
  font-weight: 400;
  opacity: 1;
}
#rangeValue2 {
    margin-left:auto;
    margin-right:auto;
    display: block;
    text-align: center;
    right:27.75%;
    font-size: 4em;
    color: rgb(210,210,210);
    font-weight: 400;
    opacity: 1;
  }
.range {
  width: 400px;
  height: 15px;
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #2fc1a5;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #2fc1a5;
}



.data{
	height: 100vh;
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  height: 100%;
  padding: 3px 3px;
  max-width: 600px;
  min-width:300px;
  max-height: 700px;
  min-height: 540px;
  text-overflow: clip;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align:justify;
  display: flex;
  justify-content: center;
}




.switch {
    margin-left: auto;
    margin-right: auto;
    left:auto;
    margin-top: 10px;
    display:block;
    position: relative;
    width: 195px;
    height: 69px;
    opacity: 1;
  }
  
  .switch input {display:none;}
  
  .slider {
    display:block;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(236,151,108);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    display:block;
    position: absolute;
    content: "";
    height: 61px;
    width: 72px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2fc1a5;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000000;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(113px);
  }
  
  .on
  {
    display: none;
    font-size: 18px;
    

  }

  .off
  {
    left:73%;
    width: 120px;
    font-size: 18px;
    display:block;
  }

  
  
  .on, .off
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    font-family: Verdana, sans-serif;
  }
  
  input:checked+ .slider .on
  {display: block; 
   left:28%}   
  
  input:checked + .slider .off
  {display: none;}

  
  .slider.round {
    border-radius: 69px;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .slider.round:before {
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;}
    

  .background{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    height: 100%;
    max-width: 600px;
    min-width:300px;
    max-height: 720px;
    min-height: 520px;
    background-color: #333;
    opacity: 0.70; 
    text-overflow: clip;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
  }

.container-jouer{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  align-self: center;
  width: 185px;
  height: 59px;
}
  
.jouer{
    margin-left: auto;
    margin-right: auto;
    display:block;
    position: relative;
    padding-bottom: 10px;
    width: 185px;
    height: 59px;
    opacity: 1; 
    border-radius: 69px;
    background-color: rgb(230,230,230);
    font-size: 30px;
      
}
.jouer:hover{
  margin-left: auto;
  margin-right: auto;
  display:block;
  position: relative;
  width: 185px;
  height: 59px;
  opacity: 1; 
  border-radius: 69px;
  background-color: rgb(230,230,230);
  font-size: 30px;
	background-color: rgba(7, 204, 152, .2);
	-moz-box-shadow: 0 0 5px #07cc98;
	-webkit-box-shadow: 0 0 5px #07cc98;
	box-shadow: 0 0 5px #07cc98;

}

.container-switch{
  display:block;  
}

.contenant{
  min-height: 600px;
  max-height: 740px;
  text-overflow: clip;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;

}

.liste{
  margin-left:auto;
  margin-right:auto;
  display:block;
  left:50%;
	width: 100px;
	height: 45px;
	opacity: 1; 
	border-radius: 69px;
	background-color: rgb(230,230,230);
	font-size: 16px;
}
.liste:hover{
	width: 100px;
	height: 45px;
	opacity: 1; 
	border-radius: 69px;
	font-size: 16px;
  position: absolute;
	background-color: rgba(7, 204, 152, .2);
	-moz-box-shadow: 0 0 5px #07cc98;
	-webkit-box-shadow: 0 0 5px #07cc98;
	box-shadow: 0 0 5px #07cc98;

}

  dl, dt, dd, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  }
  #menu {
    margin-left:auto;
    margin-right:auto;
  }
  #menu {
  width: 15em;
  }
  #menu dt {
  cursor: pointer;
  margin: 2px 0;;
  height: 25px;
  border-radius: 15px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  border: 1px solid gray;
  background:#2fc1a5;
  }
  #menu dd {
  border: 1px solid #2fc1a5;
  border-radius: 20px;
  height:60px;
  }
  #menu li {
  text-align: center;
  background: #fff;
  }
  #menu li a, #menu dt a {
  color: #000;
  text-decoration: none;
  display: block;
  border: 0 none;
  height: 100%;
  }
  #menu li a:hover, #menu dt a:hover {
  background: #eee;
  }
.agauche{
  margin-left: 15px;
}

.fo{
  display: inline-block;
  justify-content: center;
  height: 100%;
  min-height: 600px;
  max-height: 700px;
}

.radio {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  display: none;
  opacity: 1;
  color: rgb(210,210,210);
	background: #454857;
	padding: 4px;
	border-radius: 3px;
	box-shadow: inset 0 0 0 3px rgba(35, 33, 45, 0.3),
		0 0 0 3px rgba(185, 185, 185, 0.3);
	position: relative;
}

.radio input {
	width: auto;
	height: 100%;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 2px;
	padding: 4px 8px;
	background: #454857;
	color: #bdbdbdbd;
	font-size: 14px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	transition: all 100ms linear;
}

.radio input:checked {
	background-image: linear-gradient(180deg, #2fc1a5, #74bbad);
	color: #fff;
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
}

.radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}
