@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
 *, *:before, *:after {
	 box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.contenu{
  display: block;
  min-height: 500px;
  max-height: 640px;
  text-overflow: clip;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}

 .containtable {
	 padding: 24px;
	 font-family: 'Source Sans Pro', sans-serif;
	 margin: 0;
}

h1{
  justify-content: center;
  align-self: center;
  margin-right: auto;
  margin-left: auto;  
  height: 80px;
}

.fleche{
  color: green;
  size: 10px;
}

 .containtable {
	 margin-right: auto;
	 margin-left: auto;
	 display: inline-block;
	 justify-content: center;
	 align-items: center;
}
 .table {
   display: block;
	 width: 100%;
	 border: 1px solid #eee;
   opacity: 0.5;
}
 .table-header {
	 display: flex;
	 width: 100%;
	 background: #000;
   opacity: 0.7;
	 padding: 18px 0;
}
 .table-row {
	 display: flex;
	 width: 100%;
	 padding: 18px 0;
}
 .table-row:nth-of-type(odd) {
	 background: #eee;
}
.table-row:nth-of-type(even) {
  background: rgb(218,218,218);
}
 .table-data, .header__item {
	 flex: 1 1 20%;
	 text-align: center;
}
 .header__item {
	 text-transform: uppercase;
}
 .filter__link {
	 color: white;
	 text-decoration: none;
	 position: relative;
	 display: inline-block;
	 padding-left: 24px;
	 padding-right: 24px;
}
 .filter__link::after {
	 content: '';
	 position: absolute;
	 right: -18px;
	 color: white;
	 font-size: 12px;
	 top: 50%;
	 transform: translateY(-50%);
}
 .filter__link.desc::after {
	 content: '(desc)';
}
 .filter__link.asc::after {
	 content: '(asc)';
}

.block{
  display: block;
}

.data{
  height:100%;
  min-height: 100px;
  max-height: 200px;
  text-overflow: clip;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align:justify;
  display: flex;
  justify-content: center;
}

.libre{
    position: absolute;
    top: 60%;
    left: 25%;
    width:200px;
    height: 20px;
}

.switch {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    width: 195px;
    height: 69px;
    opacity: 1;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(236,151,108);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 61px;
    width: 72px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2fc1a5;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000000;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(113px);
  }
  
  .on
  {
    display: none;
    font-size: 18px;

  }

  .off
  {
    left:73%;
    width: 120px;
    font-size: 18px;
  }
  
  .on, .off
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    font-family: Verdana, sans-serif;
  }
  
  input:checked+ .slider .on
  {display: block; 
   left:28%}   
  
  input:checked + .slider .off
  {display: none;}

  
  .slider.round {
    border-radius: 69px;
  }
  
  .slider.round:before {
    border-radius: 30px;}

  .background{
    display: absolute;
    width:  80%;
    left: 10%;
    height: 100%;
    background-color: #333;
    opacity: 0.70;
  }
 