<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>site Wordle</title>
      <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
      <link rel="stylesheet" href="static/css/styles.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
   </head>
   <body style="background: url(&quot;static/img/tricher-au-scrabble-modified.jpg&quot;), var(--bs-gray-700);">
      <div class="row justify-content-center">
         <div class="col-md-12">
            <h2 class="text-center text-info" style="color: rgb(45,50,55);--bs-info: rgb(45,50,55);--bs-info-rgb: 45,50,55;">Inscription</h2>
         </div>
         <div class="col-12 col-sm-6 col-md-6 align-self-center site-form">
            <form id="my-form" name="inscription" action="/register" method="POST">
               <div class="form-group mb-3"><label class="form-label visually-hidden" for="pseudo">Pseudo</label>
               <input class="border rounded form-control" type="couleur" id="pseudo" name="pseudo" placeholder="Pseudo" style="opacity: 1;" required="" minlength="3"></div>
               <input class="form-control" type="couleur" id="email" name="email" required="" placeholder="Email">
               <div class="form-group mb-3"><label class="form-label visually-hidden" for="mail">Mail</label></div>
               <input class="form-control" type="password" id="mdp" name="mdp" placeholder="Mot de passe  (8 caractères minimum)" required="" minlength="8">
               <div class="form-group mb-3"><label class="form-label visually-hidden" for="mdp">Mot de passe</label></div>
               <input class="form-control" type="password" id="confirmationmdp" name="confirmationmdp" required="" placeholder="Confirmation mot de passe" minlength="8">
               <div class="form-group mb-3"><label class="form-label visually-hidden" for="confirmation">Confirmation</label></div>
               <div class="form-group mb-3"><label class="form-label visually-hidden" for="Submit">Submit</label></div>
               <input onclick="Inscription()" type="button" value="S'inscire" name="button">
               <script>function Inscription(){
                  //récupération des données du form
                  var pseudo=document.inscription.pseudo.value;
                  var password=document.inscription.mdp.value;
                  var confpassword=document.inscription.confirmationmdp.value;
                  var mail=document.inscription.email.value;

                  //envoie des données par une requête get au serveur
                  var reponse=fetch('/checkinscription?pseudo='+pseudo+"&mdp="+password+"&mail="+mail)
                     .then(function (response) {
                        //convertion de la réponse en json
                        return response.json();
                     }).then(function (text) {
                        //extraction de la validation(booléen)
                        vali=text.validation;
                        return vali
                     });

                  //appel de la requête "reponse" de manière asyncrone
                  const printreponse = async () => {
                     const a = await reponse;//attente de la réponse serveur
                     //pseudo trop court
                     if (pseudo.length<=3){
                              alert("Votre pseudo doit faire au moins 3 caractères")
                     //mdp trop court
                     }else{if (password.length<8){
                              alert("Votre mot de passe doit faire au moins 8 caractères")
                     //mot de passe non correspondant avec la comfirmation
                     } else{if (confpassword!=password){
                                    alert("Les mots de passe ne correspondent pas")
                     //pas un mail
                     }else{if (mail.length<=3){
                              alert('Veuillez rentrer un vrai mail')
                           }else{if (a=="True") {
                              //renvoie vers la config
                              window.location.replace("/config")
                     //Erreur non prévu
                     } else {
                              alert('Veuillez vérifier ce que vous avez saisis')
                           };
                                 };
                               };
                           };
                        };
                     };
                  //appel de la requête
                  printreponse();
               };
               </script>
            </form>
            <div class="container">
                <p style="width: auto;">Si vous avez déjà un compte.  <a href="/">Se connecter</a></p>
            </div>
            <div class="container">
               {{message}}
           </div>
         </div>
      </div>
      <script src="static/bootstrap/js/bootstrap.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script><script src="static/js/script.min.js"></script>
   </body>
</html>