<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>site Wordle</title>
      <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
      <link rel="stylesheet" href="static/css/styles.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
   </head>
   <body style="background: url(&quot;static/img/tricher-au-scrabble-modified.jpg&quot;);">
      <div class="row justify-content-center align-items-center">
         <div class="col-md-12">
            <h2 class="text-center text-info" style="border-color: rgb(45,50,55);color: rgb(45,50,55);--bs-info: rgb(45,50,55);--bs-info-rgb: 45,50,55;">Connexion<br></h2>
         </div>
         <div class="col-12 col-sm-6 col-md-6 site-form">
            <form id="my-form" name="login" action="/" method="post">
               <div class="form-group mb-3"><label class="form-label visually-hidden" for="Pseudo">Pseudo</label></div>
               <div class="form-group mb-3"><label class="form-label visually-hidden" for="Spacing1">Spacing1</label></div>
               <div class="form-group mb-3"><label class="form-label visually-hidden" for="Spacing2">Spacing2</label><input class="form-control" type="couleur" id="pseudo" name="pseudo" required="" placeholder="Pseudo"></div>
               <div class="form-group mb-3"><label class="form-label visually-hidden" for="Mot de passe">Mot de passe</label><input class="form-control" type="password" id="mot-de-passe" name="mdp" required="" placeholder="Mot de passe" minlength="8"></div>
               <div class="form-group mb-3"><label class="form-label visually-hidden" for="Submit">Submit</label></div>
               <input onclick="Login()" type="button" value="Se connecter" name="button"  >
               <script>function Login(){
                  var pseudo=document.login.pseudo.value;
                  var password=document.login.mdp.value;
                  var reponse=fetch('/checkmdp?pseudo='+pseudo+"&mdp="+password)
                     .then(function (response) {
                        return response.json();
                     }).then(function (text) {
                        vali=text.validation;
                        return vali;
                     });
                  const printreponse = async () => {
                     const a = await reponse;
                     if (a=="True") {
                              window.location.replace("/config")
                     } else {if (pseudo.length<3){
                              alert("Votre pseudo fait au moins 3 caractères")
                     }else{if (password.length<8){
                              alert("Votre mot de passe fait au moins 8 caractères")
                     } else{ 
                           alert("Mauvais mot de passe"); 
                               };
                           };
                        };
                     };
                  printreponse();
               };
               </script>
            </form>
            <div class="container">
                <p style="width: auto;">Si vous n&#39;avez pas de compte.  <a href="/register">S&#39;incrire</a></p>
            </div>
         </div>
      </div>
      <script src="static/bootstrap/js/bootstrap.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script><script src="static/js/script.min.js"></script>
   </body>
</html>