<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>site Wordle</title>
      <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
      <link rel="stylesheet" href="static/css/styles.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
   </head>
   <body style="background: url(&quot;static/img/tricher-au-scrabble-modified.jpg&quot;);">
      <div class="row justify-content-center align-items-center">
         <div class="col-md-12">
            <br>
            <br>
            <h2 class="text-center text-info" style="border-color: rgb(45,50,55);color: rgb(45,50,55);--bs-info: rgb(45,50,55);--bs-info-rgb: 45,50,55;">Connexion<br></h2>
         </div>
         <div class="col-12 col-sm-6 col-md-6 site-form">
            <form id="my-form" name="login" action="/" method="post">
               <div class="form-group mb-3"><label class="form-label visually-hidden" for="Pseudo">Pseudo</label></div>
               <div class="form-group mb-3"><label class="form-label visually-hidden" for="Spacing1">Spacing1</label></div>
               <div class="form-group mb-3"><label class="form-label visually-hidden" for="Spacing2">Spacing2</label><input class="form-control" type="couleur" id="pseudo" name="pseudo" required="" placeholder="Pseudo"></div>
               <div class="form-group mb-3"><label class="form-label visually-hidden" for="Mot de passe">Mot de passe</label><input class="form-control" type="password" id="mot-de-passe" name="mdp" required="" placeholder="Mot de passe" minlength="8"></div>
               <div class="form-group mb-3"><label class="form-label visually-hidden" for="Submit">Submit</label></div>
               <input onclick="Login()" class="bouton" type="button" value="Se connecter" name="button">
               <br>
               <br>
               <p style="width: auto;"><strong>Si vous n&#39;avez pas de compte, cliquer <a href="/register"><strong>ici</strong></a> pour vous inscrire</strong></p>
               <script>function Login(){ //fonction Js de vérification du mot de passe
                  //récupération des valeurs
                  var pseudo=document.login.pseudo.value;
                  var password=document.login.mdp.value;
                  //création de la requête pour communiquer avec le serveur
                  var reponse=fetch('/checkmdp?pseudo='+pseudo+"&mdp="+password) //envoie du mot de passe et du pseudo par requête get
                     .then(function (response) {
                        //convertion de la réponse en json
                        return response.json();
                     }).then(function (text) {
                        //récuperation de la valeur validation dans la requête
                        vali=text.validation;
                        return vali;
                     });

                  //appel de la requête "reponse" de manière asyncrone
                  const printreponse = async () => {
                     const a = await reponse; //attente de la réponse du serveur après la requête
                     // le mot de passe est bon 
                     if (a=="True") {
                             //renvoie vers config
                              window.location.replace("/config")
                     //le pseudo est faux et ne fait pas 3 caractères
                     } else {if (pseudo.length<3){
                              //création d'une alerte
                              alert("Votre pseudo doit contenir au moins 3 caractères")
                     //le mdp est faux et ne fait pas 8 caractères   
                     }else{if (password.length<8){
                              //création d'une alerte
                              alert("Votre mot de passe doit contenir au moins 8 caractères")
                     // le mot de passe est juste faux
                     } else{ 
                           alert("Mauvais mot de passe"); 
                               };
                           };
                        };
                     };
                  //appel de la fonction
                  printreponse();
               };
               </script>
               <br>
            </form>
         </div>
      </div>
      <script src="static/bootstrap/js/bootstrap.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script><script src="static/js/script.min.js"></script>
   </body>
</html>