<!DOCTYPE html>
<html lang="fr">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>site Wordle</title>
      <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
      <link rel="stylesheet" href="static/css/styles.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
      <link rel="stylesheet" href="static/css/style.config.css">
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script>$(document).ready(function(){
         $('input[type="checkbox"]').click(function(){
         var inputValue = $(this).attr("value");
         $(".input1").toggle();
         $(".input2").toggle();
         $(".question1").toggle();
         $(".question2").toggle();
         })
         });
         </script>
   </head>
   <body style="background: url(&quot;static/img/tricher-au-scrabble-modified.jpg&quot;);">
      <script src="static/bootstrap/js/bootstrap.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
      <script src="static/js/script.min.js"></script>
      <header class="header-dark" style="background: url(&quot;static/img/tricher-au-scrabble-modified.jpg&quot;) round, var(--bs-gray);">
         <nav class="navbar navbar-dark navbar-expand-lg navigation-clean-search">
            <div class="container">
               <a class="navbar-brand" style="color: rgb(0,0,0);" href="#">Wordle</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
               <div class="collapse navbar-collapse" id="navcol-2">
                  <ul class="navbar-nav">
                     <li class="nav-item"><a class="nav-link" href="/config" style="color: rgb(23,23,23);">Configuration</a></li>
                     <li class="nav-item"><a class="nav-link" href="/regles" style="color: rgb(23,23,23);">Règles du Jour</a></li>
                  </ul>
                  <form class="me-auto" target="_self">
                     <div class="d-flex align-items-center"></div>
                  </form>
                  <ul class="navbar-nav" style="color: var(--bs-red);">
                     <li class="nav-item"></li>
                     <li class="nav-item dropdown" style="color: var(--bs-red);">
                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"  style="color: rgb(23,23,23);">Mon compte</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="/historique">Historique des parties</a><a class="dropdown-item" href="/mesinfos">Mes infos</a><a class="dropdown-item" href="/disconnect">Se déconnecter</a></div>
                     </li>
                  </ul>
                  <span class="navbar-text"></span>
               </div>
            </div>
         </nav>
         <div class="container hero">
            <div class="row">
               <div class="col-md-8 offset-md-2">
                <h1 class="text-center" style="color: rgb(0,0,0);font-weight: bold;">Règles du jeu</h1>
                Vous pouvez choisir entre le mot du jour, où vous avez six essais pour deviner le mot de cinq lettres, ou alors choisir votre propre configuration avec les nombres de lettres et d’essais de votre choix.
                Il existe trois modes de difficulté: facile où  la première et la dernière lettre du mot sont données, moyen où seule la première lettre vous est donnée , et enfin difficile où aucune lettre n’est connue .
                Vos essais ne seront uniquement enregistrés que s’ils font partie de nos dictionnaires. Les lettres colorées en jaune sont dans le mot mais mal placées. Les lettres colorées en rouge sont dans le mot et correctement placées.Les lettres qui ne changent pas de couleur, n’appartiennent pas au mot à deviner.
                </div>
            </div>
         </div>                
      </header>
      <footer class="footer-dark" style="background: linear-gradient(0deg, rgb(60,65,70) 50%, rgb(110,115,120) 100%);">
         <div class="container">
            <div class="row">
               <div class="col-sm-6 col-md-3 item">
                  <h3 data-aos="fade-up" data-aos-duration="1400" data-aos-delay="50">A propos</h3>
                  <ul>
                     <li data-aos="fade-up" data-aos-duration="1400" data-aos-delay="50"><a data-aos="fade-up" data-aos-duration="1400" data-aos-delay="50" href="https://fr.wikipedia.org/wiki/Motus_(jeu_t%C3%A9l%C3%A9vis%C3%A9)">Motus</a></li>
                     <li data-aos="fade-up" data-aos-duration="1400" data-aos-delay="50"><a data-aos="fade-up" data-aos-duration="1400" data-aos-delay="50" href="https://www.nytimes.com/games/wordle/index.html">Wordle</a></li>
                     <li data-aos="fade-up" data-aos-duration="1400" data-aos-delay="50"><a data-aos="fade-up" data-aos-duration="1400" data-aos-delay="50" href="https://sutom.nocle.fr/">Sutom</a></li>
                  </ul>
               </div>
               <div class="col-sm-6 col-md-3 item">
                  <h3 data-aos="fade-up" data-aos-duration="1400" data-aos-delay="50">Classement</h3>
                  <ul>
                     <li data-aos="fade-up" data-aos-duration="1400" data-aos-delay="50"><a data-aos="fade-up" data-aos-duration="1400" data-aos-delay="50" href="/classement/1">Facile</a></li>
                     <li data-aos="fade-up" data-aos-duration="1400" data-aos-delay="50"><a data-aos="fade-up" data-aos-duration="1400" data-aos-delay="50" href="/classement/2">Moyen</a></li>
                     <li data-aos="fade-up" data-aos-duration="1400" data-aos-delay="50"><a data-aos="fade-up" data-aos-duration="1400" data-aos-delay="50" href="/classement/3">Difficile</a></li>
                  </ul>
               </div>
               <div class="col-md-6 item text">
                  <h3 data-aos="fade-up" data-aos-duration="1400" data-aos-delay="50">Règle du Jeu</h3>
                  <p data-aos="fade-up" data-aos-duration="1400" data-aos-delay="50">Voir Onglet Règles du jeu <br></p>
               </div>
            </div>
            <p class="copyright">Equipe 26 © 2022</p>
         </div>
      </footer>
   </body>
</html>